/* Estilo general de la aplicación */
.App {
  text-align: center;
}

/* Estilo para el encabezado */
.App-header {
  background-color: #003366; /* Azul oscuro */
  padding: 20px;
  border-bottom: 3px solid #00509e; /* Azul claro para el borde inferior */
  color: #ffffff; /* Texto blanco */
}

/* Estilo para el título principal */
.main-title {
  font-size: 2.5rem;
  color: #ffffff; /* Blanco */
  font-weight: 600;
  margin-bottom: 20px;
}

/* Estilo para el contenedor de Empresas */
.empresas-container {
  padding: 40px 0; /* Espacio superior e inferior */
  background-color: #f0f4f8; /* Gris claro */
  min-height: 100vh; /* Altura mínima para llenar la pantalla */
}

/* Estilo para la tarjeta de empresa */
.card-custom {
  border-color: #00509e; /* Azul claro */
}

.card-body-custom {
  background-color: #ffffff; /* Blanco */
}

.card-title-custom {
  color: #003366; /* Azul oscuro */
}

.card-text-custom {
  color: #333333; /* Gris oscuro */
}

.card-text-features {
  color: #007bff; /* Azul brillante */
}

/* Opcional: Botones y enlaces */
.btn-primary-custom {
  background-color: #007bff; /* Azul brillante */
  border-color: #007bff;
}

.btn-primary-custom:hover {
  background-color: #0056b3; /* Azul más oscuro */
  border-color: #0056b3;
}

.a {
  color: #007bff; /* Azul brillante */
}

.a:hover {
  color: #0056b3; /* Azul más oscuro */
}
